html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, sans-serif;
  font-size: 14px;
}

img {
  border: none;
}

a.homepage {
  color: #000;
  text-decoration: none;
}

a.homepage:hover {
  color: #376BAD !important;
}

.vex {
  text-align: left;
}

.vex-dialog-message {
  font-size: 25px;
  font-weight: bold;
}

.vex-dialog-input {
  min-height: 70px;
}

.vex-dialog-input .image img {
  width: 64px;
  height: 64px;
  display: inline;
  float: left;
  margin: 0 15px 15px 0;
}

#portfolio {
  text-align: center;
}

#portfolio a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

#portfolio #container {
  display: table;
  width: 100%;
  height: 100%;
}

#portfolio #center {
  vertical-align: middle;
  display: table-row;
}

#portfolio #top {
  padding: 50px 0 30px;
}

#portfolio h1 {
  font-size: 50px;
}

#portfolio #center ul {
  max-width: 960px;
}

#portfolio #center li {
  margin: 15px 0;
}

#portfolio ul, #portfolio ul li {
  display: inline-block;
}

#portfolio #center .application {
  float: left;
  width: 160px;
  text-align: center;
}

#portfolio #center .application .image{
  margin-bottom: 10px;
}

#portfolio #center .application .image img{
  width: 96px;
  height: 96px;
}
