html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, sans-serif;
  font-size: 16px;
}
input:focus {
  outline: none;
}

img {
  border: none;
}

.logo a.homepage, .logo .menu {
  display: inline-block;
}

.logo a.homepage {
  color: #000;
  background-color: white;
  text-decoration: none;
  white-space: nowrap;
}

.logo a.homepage:hover {
  color: #376BAD !important;
}

.vex {
  text-align: left;
}

.vex-dialog-message {
  font-size: 25px;
  font-weight: bold;
}

.vex-dialog-input {
  min-height: 70px;
}

.vex-dialog-input img {
  width: 64px;
  height: 64px;
  display: inline;
  float: left;
  margin: 0 15px 15px 0;
}

.vex-dialog-input h1 {
  margin-top: 20px;
}

.vex-content {
  width: 85% !important;
}

#mobile-info-toggler {
  display: none;
  position: absolute;
  left: 10px;
  top: 10px;
  line-height: 55px;
  z-index: 10;
  color: #39B3D7;
  font-size: 85px;

  opacity: 0.7;
  filter:alpha(opacity=70);
}

#portfolio {
  text-align: center;
}

#portfolio a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

#portfolio a.wiki-anchor {
  display: none;
}

#portfolio #container {
  display: table;
  width: 100%;
  height: 100%;
}

#portfolio #center {
  vertical-align: middle;
  display: table-row;
}

#portfolio #top {
  padding: 25px 0 10px;
}

#portfolio #top h1 {
  font-size: 50px;
}

#portfolio #center ul {
  width: 1120px;
}

#portfolio #center li {
  margin: 15px 0;
}

#portfolio ul, #portfolio ul li {
  display: inline-block;
}

#portfolio #center .application {
  float: left;
  width: 160px;
  text-align: center;
}

#portfolio #center .application .container {
  width: 96px;
  margin: auto;
  overflow: hidden;
}

#portfolio #center .application .homepage {
  margin-top: 10px;
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

#portfolio #center .application.active {
  opacity: 0.7;
  filter:alpha(opacity=70);
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#portfolio #center .application .info {
  z-index: 100;
  display: block;
  top: -15px;
  left: 0;
  color: #39B3D7;
  position: absolute;
  opacity: 0.0;
  filter:alpha(opacity=000);

  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#portfolio #center .application.active:hover {
  opacity: 1.0;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#portfolio #center .application.active:hover .info {
  opacity: 0.7;
  filter:alpha(opacity=70);

  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#portfolio #center .application.active:hover .info:hover {
  opacity: 1.0;
  filter:alpha(opacity=100);

  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#portfolio #center .application.inactive {
  opacity: 0.2;
  filter:alpha(opacity=20);
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

#portfolio #center .application .menu{
  height: 90px;
  width: 48px;
  float: right;
  position: relative;
}

#portfolio #center .application .menu a {
  line-height: 50px;
  height: 50px;
  display: block;
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  right: 0;
}

#portfolio #center .application .menu a.detail {
  top: 0;
  background-color: #dff0d8;
}

#portfolio #center .application .menu a.link {
  bottom: 0;
  background-color: #d9edf7;
}

#portfolio #center .application .menu hr {
  margin: 0;
  border-color: black;
  border-style: dashed;
}

#portfolio #center .application .logo{
  display: inline-block;
  height: 96px;
  width:  96px;
  background-color: white;
  z-index: 10;
}

#portfolio #center .application .swifter{
  overflow: hidden;
  position: relative;
  width: 144px;
  left: 0;
  top: 0;
  -webkit-transition:  left 0.2s ;
  -moz-transition:  left 0.2s ;
  -ms-transition:  left 0.2s ;
  -o-transition:  left 0.2s ;
  transition:  left 0.2s ;
}

#portfolio #center .application .swifter.open-sidebar {
  left: -48px;
}

#portfolio #center .application .logo img{
  width: 96px;
  height: 96px;
}

#search {
  padding: 5px 10px;
  line-height: 24px;
  height: 24px;
  width: 350px;
  background-repeat: no-repeat;
  border: solid 1px lightgray;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 22px;
}

.blur{
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.not-blur{
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}


@media (max-width: 960px) {
  #mobile-info-toggler {
    display: block;
  }

  #portfolio #center .application .info {
    display: none !important;
  }
}

@media (min-width: 961px) and (max-width: 1200px) {
  #portfolio #center ul {
    width: 960px;
  }
}

@media (min-width: 801px) and (max-width: 960px) {
  #portfolio #center ul {
    width: 800px;
  }
}

@media (min-width: 641px) and (max-width: 800px) {
  #portfolio #center ul {
    width: 640px;
  }
}

@media (max-width: 640px) {
  #portfolio #center ul {
    width: 480px;
  }
}
