html, body {
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', Verdana, sans-serif;
  font-size: 14px;
}
input:focus {
  outline: none;
}

img {
  border: none;
}

a.homepage {
  color: #000;
  text-decoration: none;
}

a.homepage:hover {
  color: #376BAD !important;
}

.vex {
  text-align: left;
}

.vex-dialog-message {
  font-size: 25px;
  font-weight: bold;
}

.vex-dialog-input {
  min-height: 70px;
}

.vex-dialog-input .image img {
  width: 64px;
  height: 64px;
  display: inline;
  float: left;
  margin: 0 15px 15px 0;
}

#portfolio {
  text-align: center;
}

#portfolio a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
}

#portfolio #container {
  display: table;
  width: 100%;
  height: 100%;
}

#portfolio #center {
  vertical-align: middle;
  display: table-row;
}

#portfolio #top {
  padding: 25px 0 10px;
}

#portfolio h1 {
  font-size: 50px;
}

#portfolio #center ul {
  width: 1120px;
}

#portfolio #center li {
  margin: 15px 0;
}

#portfolio ul, #portfolio ul li {
  display: inline-block;
}

#portfolio #center .application {
  float: left;
  width: 160px;
  text-align: center;
}

#portfolio #center .application.active {
  opacity: 0.7;
  filter:alpha(opacity=70);
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

#portfolio #center .application.active:hover {
  opacity: 1.0;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

#portfolio #center .application.inactive {
  opacity: 0.2;
  filter:alpha(opacity=20);
  -webkit-transition: opacity 0.15s ease;
  -moz-transition: opacity 0.15s ease;
  transition: opacity 0.15s ease;
}

#portfolio #center .application .image{
  margin-bottom: 10px;
}

#portfolio #center .application .image img{
  width: 96px;
  height: 96px;
}

#search {
  padding: 5px 10px;
  line-height: 24px;
  height: 24px;
  width: 350px;
  background-repeat: no-repeat;
  border: solid 1px lightgray;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 22px;
}

@media (min-width: 961px) and (max-width: 1200px) {
  #portfolio #center ul {
    width: 960px;
  }
}

@media (min-width: 801px) and (max-width: 960px) {
  #portfolio #center ul {
    width: 800px;
  }
}

@media (min-width: 641px) and (max-width: 800px) {
  #portfolio #center ul {
    width: 640px;
  }
}

@media (max-width: 640px) {
  #portfolio #center ul {
    width: 480px;
  }
}
