<div id="container">
  <div id="top">
    <h1><%=Portfolio::Redmine.title%></h1>
  </div>
  <div id="center">
    <ul>
      <% @projects.each do |project| -%>
        <li class="application">
          <%= portfolio_link_to_modal project do %>
            <div class="image">
              <%= portfolio_image_for(project) %>
            </div>
          <% end -%>
          <%= portfolio_link_to_project project, :class => 'homepage' %>
        </li>
      <% end -%>
    </ul>
  </div>
</div>
